body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
    color: #222;
    background-color: #fff;
}

button {
    background: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
}

.meta-item {
    margin-left: 7px;
    color: #999;
}

.limit-text {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.z-icon-zan {
    width: 11px;
    height: 20px;
    background-position: -180px -38px;
}